In [5]:
import pandas as pd

In [7]:
print(2+3)

5

In [8]:
3 + 2

5

In [9]:
df = pd.read_csv('../dataset_rus/title2plot.csv')
df.head()

               title                                               plot
0         День труда  Маленькая семья, оставшаяся без отца, приютила...
1  Глаза моей матери  Жестокий фильм американский ужасов, снятый в ч...
2            Аритмия  Молодой врач скорой помощи проходит через проб...
3       Все по новой  Один приятель устраивает себе и другому прияте...
4          Грейхаунд  Фильм, посвященный второй мировой войне, изоби...